{% extends "public/base_home.html" %}

{% block head %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}

{% block home_content %}

<div class="mx-1 mr-8 mb-4 bd-highlight" id="btn_back_form">
    <!--<a class="btn btn-secondary" href="{{url_for('user_list')}}">Go back</a>-->
    <a class="btn btn-secondary btn_back_form" onclick="history.back()" style="color: white !important;">Go back</a>
</div>

<div class="d-flex flex-wrap">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card bg-light border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info mb-1">Approvals (Amount)</div>
                        <div class="h6 mb-0 font-weight-bold text-gray-800">$40,000</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card bg-light border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col">
                        <div class="text-xs font-weight-bold text-info mb-1">Approvals (Number)</div>
                        <div class="h6 mb-0 font-weight-bold text-gray-800">30</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card bg-light border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col">
                        <div class="text-xs font-weight-bold text-info mb-1">Approval Rate</div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h6 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                            </div>
                            <div class="col">
                                <div class="progress progress-sm">
                                    <div class="progress-bar bg-info" role="progressbar" style="width: 50%"
                                        aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card bg-light border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col">
                        <div class="text-xs font-weight-bold text-info mb-1">Pending Requests</div>
                        <div class="h6 mb-0 font-weight-bold text-gray-800">18</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div>
    <div class="card bg-light mb-4">
        <div class="card-body">
            <div id='closedTimelineChart'></div>
        </div>
    </div>

    <!-- <div class="card bg-light mb-4">
        <div class="card-body">
            <div id='closedPieChart'></div>
        </div>
    </div> -->

    <div class="card bg-light mb-4">
        <div class="card-body">
            <div id='closedBarChart'></div>
        </div>
    </div>

</div>

<script type="text/javascript">
    closedRequestsTimeline();
    console.log("closedRequestsTimeline");
    // closedRequestsPieChart();
    // console.log("closedRequestsPieChart");
    closedRequestsBarChart();
    console.log("closedRequestsBarChart");
</script>
</div>

{% endblock %}