{% extends "public/base_page.html" %}

{% block title %}PROQR{% endblock %}


{% block main %}


<nav class="d-flex flex-md-row p-2 px-md-4 mb-3 bg-dark border-bottom shadow-sm">

    <!--
    <ul class="navbar-nav mx-auto" style="text-align:center;">
        <nav class="my-2 my-md-0">
            <a class="p-2 text-light btn shadow-sm"  href="/home">Home</a>
            <a class="p-2 text-light btn shadow-sm"  href="/requests">My requests</a>
            <a class="p-2 text-light btn shadow-sm"  href="/purchase_order">Purchase Orders</a>
            <a class="p-2 text-light btn shadow-sm"  href="/reporting">Reporting</a>
            <a class="p-2 text-light btn shadow-sm"  href="/profile">Profile</a>
            <a class="p-2 text-light btn shadow-sm"  href="/admin">Admin</a>
        </nav>
    </ul>
    -->

    <div class="my-auto mr-auto">
        <a href="/home" class="navbar-brand font-weight-normal text-light" style="margin-right:0px">PROQR</a>
    </div>
    {% block nav_bar%}{% endblock %}
    <div class="my-auto">
        <a class="btn btn-secondary" href="/logout" id="logoutButton">Logout</a>
    </div>


</nav>

<div class="container">
    {% block home_content%}{% endblock %}
</div>
{% endblock %}