{% extends "public/base_form.html" %}
{% block form%}
<!-- Start of form row -->
            <div class="form-row" style="display:none;">
                <div class="form-group col-md-12">
                    <input class="form-control" type="text" id="formID" placeholder="This is the Primary Key" readonly>
                </div>
            </div>
            <!-- End of form row -->

            <!-- Start of form row -->
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="purchaseUserName">User Name</label>
                    <input class="form-control" type="text" id="formUserName" value="{{userid}}" readonly>
                </div>
            </div>
            <!-- End of form row -->


            <!-- Start of form row -->
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="purchaseDescription">Description</label>
                    <input type="text" class="form-control" id="inputDescription"
                        placeholder="Enter a brief description (required)">
                </div>
            </div>
            <!-- End of form row -->

            <!-- Start of form row -->
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="purchaseItems">Items</label>
                <textarea class="form-control" id="inputItems" rows="3"
                        placeholder="Enter the items you wish to request (required)"></textarea>
                </div>
            </div>
            <!-- End of form row -->

            <!-- Start of form row -->
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="purchaseComments">Comments</label>
                <textarea class="form-control" id="inputComments" rows="3"
                        placeholder="Enter any comments (optional)"></textarea>
                </div>
            </div>
            <!-- End of form row -->

            <!-- Start of form row -->
            <!--<div class="form-row">
                <div class="form-group col-md-12">
                    <input type="file" class="custom-file-input" id="customFileLang">
                    <label class="custom-file-label" for="customFileLang">Upload a file</label>
                </div>
            </div>-->
            <!-- End of form row -->

            <!-- Start of form row -->
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="purchaseAmount">Amount</label>
                    <input type="number" class="form-control" placeholder="Enter the total amount in USD" id="inputAmount">
                </div>
            </div>
            <!-- End of form row -->

            <!-- Submit button -->
            {% if isIndex %}
                <button type="button" class="btn btn-primary" formaction="/purchase_request/new">Order now</button>
            {% else %}
            <button type="button" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-danger">Delete</button>
            {% endif %}




{%endblock%}