{% extends "public/base_home.html" %}

{% block home_content %}

<style>
    @media (max-width: 991px) {
        .btn, .btn-group {
            width:100%;
            margin-bottom: 0.5em;
        }
        #btn_back_form{
            width:100%;
            padding-left: 0px;
            padding-right: 0px;
        }
        #logoutButton{
            margin-bottom: 0px;
        }
    }
</style>

<div class="d-flex flex-row justify-content-center flex-wrap">
    
    <div class="mx-1 mr-8 bd-highlight" id="btn_back_form">
        <a class="btn btn-secondary" href="/home">Go back</a>
    </div>

    <div class="mx-1 p-2 bd-highlightcontainer p-4" style=" width: 100%; max-width: 720px; background-color:rgb(242, 242, 242); border-radius: 1em;"  >


        <form >
            <!-- Start of form row -->
            <div class="form-row" style="display:none;">
                <div class="form-group col-md-12">
                    <input class="form-control" type="text" id="formID" placeholder="This is the Primary Key" readonly>
                </div>
            </div>
            <!-- End of form row -->

            <!-- Start of form row -->
            <div class="form-row">
                <div class="form-group col-md-12">
                    <input class="form-control" type="text" id="formUserName" placeholder="This is your user name" readonly>
                </div>
            </div>
            <!-- End of form row -->

            <!-- Start of form row -->
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="inputExpenditureType">Expenditure Type</label>
                    <select id="inputExpenditureType" class="form-control">
                        <option selected>Choose...</option>
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                        <option>Option 4</option>
                        <option>Option 5</option>
                    </select>
                </div>
            </div>
            <!-- End of form row -->

            <!-- Start of form row -->
            <div class="form-row">
                <div class="form-group col-md-12">
                    <input type="text" class="form-control" id="inputDescription"
                        placeholder="Enter a brief description (required)">
                </div>
            </div>
            <!-- End of form row -->

            <!-- Start of form row -->
            <div class="form-row">
                <div class="form-group col-md-12">
                <textarea class="form-control" id="inputItems" rows="3"
                        placeholder="Enter the items you wish to request (required)"></textarea>
                </div>
            </div>
            <!-- End of form row -->

            <!-- Start of form row -->
            <div class="form-row">
                <div class="form-group col-md-12">
                <textarea class="form-control" id="inputComments" rows="3"
                        placeholder="Enter any comments (optional)"></textarea>
                </div>
            </div>
            <!-- End of form row -->

            <!-- Start of form row -->
            <div class="form-row">
                <div class="form-group col-md-12">
                    <input type="file" class="custom-file-input" id="customFileLang">
                    <label class="custom-file-label" for="customFileLang">Upload a file</label>
                </div>
            </div>
            <!-- End of form row -->

            <!-- Start of form row -->
            <div class="form-row">
                <div class="form-group col-md-12">
                    <input type="number" class="form-control" placeholder="Enter the total amount in USD" id="inputAmount">
                </div>
            </div>
            <!-- End of form row -->

            <!-- Submit button -->
            <button type="button" class="btn btn-primary">Order now</button>
            <button type="button" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-danger">Delete</button>
        </form>

    </div>
</div>

{% endblock %}