{% extends "public/base_home.html" %}

{% block home_content %}

<style>
    @media (max-width: 991px) {
        .btn, .btn-group {
            width:100%;
            margin-bottom: 0.5em;
        }
        #btn_back_form{
            width:100%;
            padding-left: 0px;
            padding-right: 0px;
            margin-right: 0em;
        }
        #logoutButton{
            margin-bottom: 0px;
        }
    }
    @media (min-width: 992px) {

        #btn_back_form{
            margin-right: 1em;
        }
        #userSearchBarContainer{
            margin-top: 2em;
            margin-bottom: 2em;
        }

    }
</style>

<div class="d-flex flex-row flex-wrap justify-content-center" id="requestSearchBarContainer">

    <a class="btn btn-secondary" id="btn_back_form" href="{{url_for('home')}}">Go back</a>
    <input type="text" id="purchaseCardFilter" class="form-control" onkeyup="filterRequestCards()" placeholder="Search for purchases.." style="max-width: 720px;">
</div>

<div class="d-flex flex-wrap">

    <!-- Card container -->
    <div class="d-flex flex-wrap m-2 justify-content-center" id="purchaseCardList">
        {% for purchase in purchases %}
        <div class="card bg-light text-center m-2" style="min-width: 240px; border-radius: 1em;">
            <div class="card-body">
              <h5 class="card-title">{{ purchase.description }}</h5>
              <h6 class="card-subtitle mb-2">{{ purchase.date }}</h6>
              <p class="card-text text-muted">{{ purchase.items }}</p>
              <p class="card-text text-muted">{{ purchase.amount }}</p>
              <a href="{{ purchase.purchaseLink }}" class="btn btn-primary">Edit/Delete</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}