{% extends "public/base_form.html" %}
{% block form%}
<!-- Start of form row -->

            <!-- Start of form row -->
            <div class="form-row" style="display: {{showID}};">
                <div class="form-group col-md-12">
                    <label for="userUserID">ID</label>
                    <input class="form-control" type="text" name="userUserID"  readonly value={{ userId }}>
                </div>
            </div>
            <!-- End of form row -->

            <!-- Start of form row -->
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="userUserFirstName">First Name</label>
                    <input class="form-control" type="text" name="userUserFirstName" placeholder="Enter the user's first name" value="{{ firstName }}">
                </div>
            </div>
            <!-- End of form row -->

            <!-- Start of form row -->
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="userUserLastName">Last Name</label>
                    <input class="form-control" type="text" name="userUserLastName" placeholder="Enter the user's last name" value="{{ lastName }}">
                </div>
            </div>
            <!-- End of form row -->

            <!-- Start of form row -->
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="userUserEmail">Email</label>
                    <input class="form-control" type="text" name="userUserEmail" placeholder="Enter the user's email" value="{{ email }}">
                </div>
            </div>
            <!-- End of form row -->

            <!-- Start of form row -->
            <div class="form-row" style="display: {{showPassword}};">
                <div class="form-group col-md-12">
                    <label for="userUserPassword">Password</label>
                    <input class="form-control" type="text" name="userUserPassword" placeholder="Enter the user's password" value="{{ password }}">
                </div>
            </div>
            <!-- End of form row -->

            <!-- Start of form row -->
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="inputRole">Role</label>
                    <select id="inputRole" class="form-control">
                        <option selected>Choose...</option>
                        <option>Buyer</option>
                        <option>Chief Approver</option>
                        <option>Financial Approver</option>
                    </select>
                </div>
            </div>
            <!-- End of form row -->

            <!-- Start of form row -->
            <div class="form-row" style="display: none;">
                <div class="form-group col-md-12">
                    <label for="inputSupervisor">Supervisor</label>
                    <select id="inputSupervisor" class="form-control">
                        <option selected>Choose...</option>
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                    </select>
                </div>
            </div>
            <!-- End of form row -->

            <!-- Submit button -->
            {% if isIndex %}
                <button type="submit" class="btn btn-primary" formaction="/user/add">Add User</button>
            {% else %}
                <button type="submit" class="btn btn-primary" formaction="/user/modify">Save</button>
                <button type="submit" class="btn btn-primary" formaction="/recover_password">Recover Password</button>
                <button type="submit" class="btn btn-danger" formaction="/user/delete">Delete</button>
            {% endif %}
{%endblock%}