{% extends "public/base_form.html" %}
{% block form%}
<!-- Start of form row -->

            <!-- Start of form row -->
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="userUserID">ID</label>
                    <input class="form-control" type="text" id="userUserID" placeholder="Enter the user's id">
                </div>
            </div>
            <!-- End of form -->

            <!-- Start of form row -->
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="userUserFirstName">First Name</label>
                    <input class="form-control" type="text" id="userUserFirstName" placeholder="Enter the user's first name">
                </div>
            </div>
            <!-- End of form row -->

            <!-- Start of form row -->
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="userUserLastName">Last Name</label>
                    <input class="form-control" type="text" id="userUserLastName" placeholder="Enter the user's last name">
                </div>
            </div>
            <!-- End of form row -->

            <!-- Start of form row -->
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="userUserEmail">Email</label>
                    <input class="form-control" type="text" id="userUserEmail" placeholder="Enter the user's email">
                </div>
            </div>
            <!-- End of form row -->

            <!-- Start of form row -->
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="userUserPassword">Password</label>
                    <input class="form-control" type="text" id="userUserPassword" placeholder="Enter the user's password">
                </div>
            </div>
            <!-- End of form row -->

            <!-- Start of form row -->
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="inputRole">Role</label>
                    <select id="inputRole" class="form-control">
                        <option selected>Choose...</option>
                        <option>Buyer</option>
                        <option>Chief Approver</option>
                        <option>Financial Approver</option>
                    </select>
                </div>
            </div>
            <!-- End of form row -->

            <!-- Start of form row -->
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="inputSupervisor">Supervisor</label>
                    <select id="inputSupervisor" class="form-control">
                        <option selected>Choose...</option>
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                    </select>
                </div>
            </div>
            <!-- End of form row -->

            <!-- Submit button -->
            {% if isIndex %}
                <button type="button" class="btn btn-primary">Add User</button>
            {% else %}
            <button type="button" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-danger">Delete</button>
            {% endif %}
{%endblock%}